# Products of the NICS scraping
scripts/01-scrape-nics/charts/*
scripts/01-scrape-nics/data/*
scripts/01-scrape-nics/pdfs/*
scripts/01-scrape-nics/venv/*

# Temporary
scripts/03-run-analyses/03-hypothetical.R

# Cleaned data
data/clean/*

# Products of analyses
exhibits/*

# Miscellany
*.DS_Store
*Icon?
.Rprofile
